.container___ * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
 }
 
 .container___ body {
    margin: 0;
    padding: 30px 0;
    background: #F1F2F6;
 }
 
 .container___ h1 {
    text-align: center;
    font-weight: 300;
    color: #777
 }
 
 .container___ h1 span {
    font-weight: 600;
 }
 
 .container___ {
    width: 80%;
    padding: 50px 0;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
 }
 
 .container___:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #CCD1D9;
    z-index: 1
 }
 
 .timeline-block___ {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
 }
 
 .timeline-block-right___ {
    float: right;
 }
 
 .timeline-block-left___ {
    float: left;
    direction: rtl
 }
 
 .marker___ {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #F5F7FA;
    background: #0066ff;
    margin-top: 10px;
    z-index: 9999
 }
 
 .timeline-content___ {
    width: 95%;
    padding: 0 15px;
    color: #F5F5F5;
 }
 
 .timeline-content___ h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 400;
 }

 .timeline-content___ h5 {
    font-size: 20px;
    font-weight: 300;
    color: white;
 }
 
 .timeline-content___ span {
    font-size: 15px;
    color: #B0B0B0;
 }
 
 .timeline-content___ p {
    font-size: 14px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: #B0B0B0;
 }
 
 
 @media screen and (max-width: 768px) {
    .container___:before {
       left: 8px;
       width: 2px;
    }
    .timeline-block___ {
       width: 100%;
       margin-bottom: 30px;
    }
    .timeline-block-right___ {
       float: none;
    }
 
    .timeline-block-left___ {
       float: none;
       direction: ltr;
    }
 }
 
 .resume {
    align-items: initial;
    width: 100%;
    padding: 0;
    margin-top: 10px;
 }
